/* .formlogin
{

    top: 120px;
    right: 440px;
    bottom: 0px;
    position: relative;
    color:oldlace;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

} */



form{

  /*color: black;*/
  /* border: 1px solid red; */
  /*padding: 10px;*/
  /*margin-right: 50px;*/
  /*background-color: beige;*/
  /*height: 250px;*/
  /*margin-top: 50px;*/
  /*width: 200px;*/
  color:oldlace;
  background-color: 40% transparent;
  color: rgb(255, 255, 255);
  font-size:large;
  position: relative;
  /*height: 400px;*/
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border: 3px solid rgb(0, 247, 123);
  padding: 10px;
}



#background-image
{
    padding: 0rem;
    margin: 1em auto;
    height: 100%;
    width: 100%;
    margin-top: -1px;
    display: none;
    justify-content: center;
}





/* navbar */

.nav {

 backface-visibility: hidden;

}

.navbar-nav>li>a {
  color: #F4AD33;
  font-weight: 500;
  text-shadow: none;
}

  /*   
  &:hover {
    color: #F17B16;
  } */

  .title {
    color: #F4AD33;
    font-weight: 500;
    text-shadow: none;
  }
  